* {
    text-decoration: none;
    background-color: rgb(125, 80, 80);
}

.ul, li {
    color: aliceblue;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    font-style: 'Robot Mono', Monospace;
    font-family: "Ubuntu", sans-serif;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(125, 80, 80); /* Set the background color to black */
    color: rgb(0, 0, 0); /* Default text color */
}

/* Navbar styles */
div {
    background-color: rgb(125, 80, 80); /* Background color of the navbar */
    padding: 10px; /* Padding around the navbar */
}

.nav-list {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-end; /* Align items to the right */
}

.navigation-Link {
    color: rgb(46, 28, 28);
    padding: 8px 16px;
    font-weight:400 ;
}

/* Heading */
h1 {
    cursor: default;
    font-family: "Ubuntu", sans-serif;
    font-weight:400
}

h3 {
    cursor: default;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight:400;
}
h4{
    cursor: default;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight:400;
}
/* Dumperia */
.Dump-wrapper {
    display: flex;   
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.dump-post {
    background-color: rgb(125, 80, 80); /* Card background color */
    border: 1px solid rgb(101, 58, 58);;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden;
    width: 320px; /* Fixed width for cards */
    box-shadow: -2px 7px 21px -9px #131111; /* Shadow effect */
    transition:  0.3s; /* Smooth scaling on hover */
}

.dump-post:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: ease .3s;
}

.thumbnail:hover {
    margin: -2.5%;
    width: 105%;
    height: 190px;
    transition: ease .3s;
}

.dump-preview {
    background-color: rgb(125, 80, 80);
    padding: 15px;
}

.dump-title {
    color: #000000;
    margin: 0;
    cursor: default;
}

.dump-intro {
    color: #000000;
    font-size: 14px;
    cursor: default;
}

.dump-links {
    display: flex;
    justify-content: space-evenly;
}

.links {
    color: rgb(0, 0, 0);
    padding: 10px;
    padding-left: 26px;
    padding-right: 30px;
    border-radius: 20px;
    transition: ease .3s;
}

.links:hover {
    background-color: rgb(91, 49, 49);
    transition: ease .3s;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.dump-post{
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}